#app > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > header > p {
  font-size: 2rem;
  text-shadow: 2px 2px 2px #0000007d;
}

svg {
  filter: drop-shadow(2px 2px 2px rgba(97, 104, 0, 0.349));
}