#app > header {
  font-family: "Game of Thrones";
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  word-spacing: 2px;
}

#app > header span {
  margin: 0px 10px;
  padding-bottom: 7px;
}

#app > header > p {
  height: min-content;
  display:flex;
  align-items: center;
  font-size: 1.4rem;
}

#app > header > p:first-child {
  font-size: 2rem;
}